<h2>Lista de Cursos</h2>

<table mat-table [dataSource]="cursos" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let curso">{{ curso.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let curso">{{ curso.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="duracion">
    <th mat-header-cell *matHeaderCellDef>Duración</th>
    <td mat-cell *matCellDef="let curso">{{ curso.duracion }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
