<h2>Dashboard</h2>

<div class="dashboard-cards">
  <mat-card class="dashboard-card">
    <h3>Alumnos</h3>
    <p>Total: {{ totalAlumnos }}</p>
  </mat-card>

  <mat-card class="dashboard-card">
    <h3>Cursos</h3>
    <p>Total: {{ totalCursos }}</p>
  </mat-card>

  <mat-card class="dashboard-card">
    <h3>Clases</h3>
    <p>Total: {{ totalClases }}</p>
  </mat-card>

  <mat-card class="dashboard-card">
    <h3>Último alumno</h3>
    <p>{{ ultimoAlumno }}</p>
  </mat-card>
</div>
